
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/DashboardTheme/modules/timeline/css/timeline.min.css" rel="stylesheet" />

<div class="col-md-12">

    <div class="timeline">
        <div class="timeline__wrap">
            <div class="timeline__items" style="background-color:red !important">
                <div class="timeline__item">
                    <div class="timeline__content">
                        <h2 style="text-align:center">item 1</h2>
                        <p>
                            Lorem ipsum
                        </p>
                    </div>
                </div>

                <div class="timeline__item">
                    <div class="timeline__content">
                        <h2 style="text-align:center">item 2</h2>
                        <p>
                            Lorem ipsum
                        </p>
                    </div>
                </div>

                <div class="timeline__item">
                    <div class="timeline__content">
                        <h2 style="text-align:center">item 3</h2>
                        <p>
                            Lorem ipsum
                        </p>
                    </div>
                </div>

                <div class="timeline__item">
                    <div class="timeline__content">
                        <h2 style="text-align:center">item 4</h2>
                        <p>
                            Lorem ipsum
                        </p>
                    </div>
                </div>

                <div class="timeline__item">
                    <div class="timeline__content">
                        <h2 style="text-align:center">item 5</h2>
                        <p>
                            Lorem ipsum
                        </p>
                    </div>
                </div>

                <div class="timeline__item">
                    <div class="timeline__content">
                        <h2 style="text-align:center">item 6</h2>
                        <p>
                            Lorem ipsum
                        </p>
                    </div>
                </div>

                <div class="timeline__item">
                    <div class="timeline__content">
                        <h2 style="text-align:center">item 7</h2>
                        <p>
                            Lorem ipsum
                        </p>
                    </div>
                </div>

                <div class="timeline__item">
                    <div class="timeline__content">
                        <h2 style="text-align:center">item 8</h2>
                        <p>
                            Lorem ipsum
                        </p>
                    </div>
                </div>

                <div class="timeline__item">
                    <div class="timeline__content">
                        <h2 style="text-align:center">item 9</h2>
                        <p>
                            Lorem ipsum
                        </p>
                    </div>
                </div>

                <div class="timeline__item">
                    <div class="timeline__content">
                        <h2 style="text-align:center">item 10</h2>
                        <p>
                            Lorem ipsum
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script src="@Url.Content("~/DashboardTheme/assets/global/plugins/jquery.min.js")" type="text/javascript"></script>

@*<script type="text/javascript" src="dist/js/timeline.min.js"></script>*@
<script src="~/DashboardTheme/modules/timeline/js/timeline.min.js"></script>
<script>

    $(document).ready(function () {

        document.getElementsByClassName("example");
    });

    timeline(document.querySelectorAll('.timeline'), {
        forceVerticalMode: 700,
        mode: 'horizontal',
        verticalStartPosition: 'left',
        visibleItems: 9
    });
</script>