@using TarimCan.Models

@model List<FinansModel>

@{
    ViewBag.Title = "Asi Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/DashboardTheme/LightBox/css/lightbox.css" rel="stylesheet" />

<div class="col-md-12">

    <div class="portlet light bordered" style="min-height:620px">
        <div class="row">
            <div class="col-md-12" style="min-height:600px">
                <div class="portlet light" style="padding:0 !important; font-size:13px !important; margin:0px !important">
                    <div class="portlet-title" style="margin-bottom:0px !important">
                        <div class="caption">
                            <i class="icon-equalizer font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase" style="font-size:15px">GELİR KALEMLERİ</span>
                            <a href="https://www.youtube.com/watch?v=Zm51mv885aI&t=83s" target="_blank"> <img src="~/DashboardTheme/assets/global/ana-icons/youtube-full-logo.png" style="height:20px" title="Yardım Videosu"></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.AntiForgeryToken()
</div>

<script>
    $('#AsiYonetimi').addClass("active");
</script>
