
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Tarım Can Yeni Nesil Çiftlik Yardımcınız</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <meta content="" name="TarımCan Çiflik ve Sürü Yönetimi yapılmasını sağlayan bir yönetim uygulamasıdır. Bu uygulama ile çiftliğinizdeki hayvanları kolaylıkla takip edebilirsiniz. tarimcan, terra seracılık, terra bilişim, sürü yönetimi, çiftlik yönetimi, sera yönetimi, yazılım program" />
    <meta content="" name="Terra Bilişim Hizmetleri" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="../DashboardTheme/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../DashboardTheme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../DashboardTheme/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../DashboardTheme/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="../DashboardTheme/assets/admin/pages/css/login.css" rel="stylesheet" type="text/css" />
    <link href="../DashboardTheme/assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body class="login">
    <div class="menu-toggler sidebar-toggler">
    </div>
    <div class="logo">
        <a href="index.html">
            <img src="../DashboardTheme/assets/admin/layout4/img/logo.png" alt="" width="500" height="auto" />
        </a>
    </div>
    <div class="content">
        <h3 class="form-title">Kullanıcı Kayıt</h3>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">İsim Soyisim</label>
            <input class="form-control placeholder-no-fix" type="text" placeholder="isim soyisim" id="IsimSoyisim">
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Cep Telefonu</label>
            <input class="form-control placeholder-no-fix" type="text" placeholder="cep telefonu" id="CepTelefonu">
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Email</label>
            <input class="form-control placeholder-no-fix" type="text" placeholder="email" id="Email">
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Şifre</label>
            <input class="form-control placeholder-no-fix" type="password" placeholder="şifre" id="Sifre">
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Şifre Tekrar</label>
            <input class="form-control placeholder-no-fix" type="password" placeholder="şifre tekrar" id="SifreTekrar">
        </div>
        <div class="form-group margin-top-20 margin-bottom-20">
            <label class="check">
                <span class="checker"><input type="checkbox" id="chkOnay" checked></span> <a href="javascript:;">
                    Kullanıcı Sözleşmesini
                </a>
                ve <a href="javascript:;">
                    KVKK Aydınlatma Metnini
                </a>
                Okudum Onaylıyorum
            </label>
            <div id="register_tnc_error">
            </div>
        </div>
        <div class="form-actions">
            <a id="register-back-btn" class="btn btn-default" href="/Home/Login">Geri</a>
            <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right" onclick="KullaniciKaydet()">Kayıt Ol</button>
        </div>
    </div>

    @Html.AntiForgeryToken()

    <div class="copyright">
        2022 © Tarım Can | Yeni Nesil Çiftlik Asistanınız. Tüm hakları saklıdır.
    </div>

    <script src="../DashboardTheme/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="../DashboardTheme/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="../DashboardTheme/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../DashboardTheme/assets/global/plugins/bootbox/bootbox.min.js"></script>
    <script src="../DashboardTheme/assets/admin/layout4/scripts/custom.js"></script>

    <script>

        function KullaniciKaydet() {

            var IsimSoyisim = document.getElementById("IsimSoyisim").value;
            var Email = document.getElementById("Email").value;
            var Sifre = document.getElementById("Sifre").value;
            var SifreTekrar = document.getElementById("SifreTekrar").value;
            var CepTelefonu = document.getElementById("CepTelefonu").value;

            if (IsimSoyisim == "") {
                ShowErrorMessageBox("Lütfen İsim Soyisim bilgilerini girin...");
                return;
            }
            if (Sifre == "" || SifreTekrar == "") {
                ShowErrorMessageBox("Lütfen şifreleri girin...");
                return;
            }
            if (CepTelefonu == "") {
                ShowErrorMessageBox("Lütfen Cep Telefonunuzu girin...");
                return;
            }

            if (Sifre != SifreTekrar) {
                ShowErrorMessageBox("Şifreler eşleşmiyor. Lütfen kontrol ediniz...");
                return;
            }

            if (document.getElementById("chkOnay").checked == false) {
                ShowErrorMessageBox("Lütfen Kullanım Sözleşmesi ve KVKK Metnini onaylayın...");
                return;
            }

            var data = {
                __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                'IsimSoyisim': IsimSoyisim,
                'Email': Email,
                'Sifre': Sifre,
                'SifreTekrar': SifreTekrar,
                'CepTelefonu': CepTelefonu
            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("RegisterAction", "Home")',
                data: data,
                success: function (response) {
                    if (response.IsSuccess) {
                        location.href = "/Home/Index";
                    }
                    else {
                        ShowErrorMessageBox(response.Message);
                    }
                }
            });
        }

    </script>
</body>
</html>